<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<table style="text-align:left">
    <tr>
        <th>
            <label>Retrieve Users:
                <button (click)="getUsers()"> Click to retrieve</button>
            </label>
        </th>
    </tr>

</table>
<table>
    <tr *ngFor="let user of Users | async">
        <td>{{user}}</td>
    </tr>
</table>
<div *ngIf="errors.length > 0" style="overflow-x:auto;">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let error of errors; let i = index">
                <td>{{i + 1}}</td>
                <td>{{error}}</td>
            </tr>
        </tbody>
    </table>
</div>